<app-header></app-header>

<mat-card class="card">
    <mat-card-header color="accent" class="header">
        <div class="subheading-2 title">
            Service Activity
        </div>
        <div class="header-actions">
            <button mat-raised-button (click)="refreshData()" class="little-round-button mat-accent">
                <mat-icon aria-label="Refresh table data">autorenew</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="chart-container">

            <ngx-charts-line-chart [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [yScaleMax]="yScaleMax" [yScaleMin]="yScaleMin" [timeline]="timeline"
                [results]="graphDataSource" [animations]="true" [autoScale]="true" [legendPosition]="legendPosition"
                [curve]="curve">
            </ngx-charts-line-chart>

        </div>
    </mat-card-content>
</mat-card>

<!--<router-outlet></router-outlet>-->